<!-- Task 1 Start -->
<div class=" w-full h-[83px] relative">
    <div class="flex justify-between">
    
      <div class="flex justify-around">
        <div class="w-20">
          <div class="flex justify-around items-center h-[83px]">
            <img src="./../assets/logo.jpeg" alt="CloudParallax Logo">
          </div>
        </div>
        <div class="w-full">
          <div class="flex justify-around text-3xl italic font-bold items-center h-[83px]">
            CloudParallax
          </div>
        </div>
      </div>
      <div class="flex justify-around invisible md:visible">
        <div class="w-20">
          <div class="flex justify-around items-center h-[83px]">
            Home
          </div>
        </div>
        <div class="w-20">
          <div class="flex justify-around items-center h-[83px]">
            About
          </div>
        </div><div class="w-20">
          <div class="flex justify-around items-center h-[83px]">
            Services
          </div>
        </div><div class="w-20">
          <div class="flex justify-around items-center h-[83px]">
            Contact
          </div>
        </div><div class="w-20">
          <div class="flex justify-around items-center h-[83px]">
            Feedback
          </div>
        </div>
      </div>
    </div>
    <div class="visible md:invisible  absolute right-7 top-7 ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      
    </div>
    </div>
    <!-- Task 1 End -->