<app-navigation-bar></app-navigation-bar>
<app-banner></app-banner>

<app-new-component></app-new-component>



<!-- Footer Start -->
<div class="bg-red-200 w-full h-[83px]">
  <div class="flex justify-around items-center h-[83px] text-sky-600">
    <div>Terms</div>
    <div>Privacy</div>
    <div>Security</div>
    <div>Status</div>
    <div>Docs</div>
    <div>Pricing</div>
    <div>Blog</div>
    <div>About</div>
  </div>
</div>

<div class="container mx-auto p-8">
  <h1 >Joom Triggers</h1>
  <h2>© 2022 JoomTriggers Labs Inc. All rights reserved.</h2>
</div>
<!-- Footer End -->
