<!-- Task 2 Start -->
<div>
  <div class="bg-[url('./../assets/img/pic1.jpg')] h-[486px] w-full grid place-items-center">
    <div class="grid place-items-stretch text-center h-[294px]">

      <div class="text-white font-kolker text-[70px] font-[700] w-full items-center">Learn to Code</div>
      <div class="text-[#FFC0C7] text-[21px] font-sans-serif font-[700]">With the world's largest web developer site.
      </div>
      <div class="flex h-[47px]">
        <input
          class="placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-l-full py-2 pl-9 pr-3 shadow-sm focus:outline-none sm:text-sm"
          placeholder="Search for anything..." type="text" name="search" />
        <button class="bg-[#04AA6D] flex justify-center items-center text-white rounded-r-full  w-[100px]"
          type="submit"><i class="fa fa-search"></i><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg></button>
      </div>
      <div class="text-white text-[23px] font-sans-serif font-[700] hover:text-purple-600 underline"><a
          href="https://www.w3schools.com/">Not Sure Where To Begin?</a></div>
    </div>
  </div>
  <div></div>
</div>

<!-- Task 2 End -->