<section
   class="bg-gradient-to-t to-sky-100 from-sky-50 h-[650px] grid place-items-center">
   <div class="container h-[600px] w-[800px] justify-center">
      <div class="flex flex-center">
         <div class="w-full px-4">
            <div class="text-center mx-auto mb-[60px] lg:mb-10 max-w-[510px]">
               <span class="font-semibold text-pink-500 text-lg mb-2 block">
               service
               </span>
               <h2
                  class=" font-bold text-3xl sm:text-4xl md:text-[40px] text-dark mb-4 " >
                  Specializing In
               </h2>
            </div>
         </div>
      </div>
      <div class="flex justify-between -mx-4">
         <div class="w-full text-center px-4">
            <div class="border-2 border-blue-100 bg-white rounded-md relative z-10 overflow-hidden  py-10 px-8 sm:p-10 " >
                <img src="./../assets/img1.png" alt="">
               <span class="font-semibold text-lg block mb-4">
               Logo & Branding Services
               </span>
               <p class="text-base  text-body-color pb-6 border-[#F2F2F2]">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
               </p>
               <div class="hover:text-blue-700 text-base text-body-color border-[#F2F2F2]">
                <a href="javascript:void(0)">Learn More ></a>
               </div>
            </div>
         </div>
         <div class="w-full text-center px-4">
            <div class="border-2 border-blue-100 bg-white rounded-md relative z-10 overflow-hidden  py-10 px-8 sm:p-10 " >
                <img src="./../assets/img2.png" alt="">
            <span class="font-semibold text-lg block mb-4">
                Website Design & Development
            </span>
            <p class="text-base  text-body-color pb-6 border-[#F2F2F2]">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <div class="hover:text-blue-700 text-base text-body-color border-[#F2F2F2]">
             <a href="javascript:void(0)">Learn More ></a>
            </div>
         </div>
         </div>
         <div class="w-full text-center px-4">
            <div class="border-2 border-blue-100 bg-white rounded-md relative z-10 overflow-hidden  py-10 px-8 sm:p-10 " >
                <img src="./../assets/img3.png" alt="">
            <span class="font-semibold text-lg block mb-4">
                Mobile App Develpoment
            </span>
            <p class="text-base  text-body-color pb-6 border-[#F2F2F2]">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <div class="hover:text-blue-700 text-base text-body-color border-[#F2F2F2]">
             <a href="javascript:void(0)">Learn More ></a>
            </div>
         </div>
         </div>
      </div>
   </div>
</section>