<div class="">
    <div class="bg-white h-[1000px] grid place-items-center ">
        <div class="">

            <form action="/action_page.php" class="flex flex-col space-y-6">
                <div class="text-3xl font-bold text-center">Application Form</div>
                <div class="flex space-x-5">
                    <div class="relative ">
                        <input type="text" id="first_name"
                            class=" block px-2.5 pb-2.5 pt-4 text-sm text-black border border-gray-300 rounded-lg border-1 w-60  appearance-none focus:ring-0 focus:border-blue-200 peer bg-white"
                            placeholder=" " />
                        <label for="first_name"
                            class="absolute text-sm bg-white text-black  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  px-2 peer-focus:px-2 peer-focus:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">First
                            Name</label>
                    </div>
                    <div class="relative">
                        <input type="text" id="last_name"
                            class="block px-2.5 pb-2.5 pt-4 text-sm text-black border border-gray-300 rounded-lg border-1 w-60 appearance-none focus:ring-0 focus:border-blue-900 peer bg-white"
                            placeholder=" " />
                        <label for="floating_outlined"
                            class="absolute text-sm bg-white text-black  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  px-2 peer-focus:px-2 peer-focus:text-blue-900 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Last
                            Name</label>
                    </div>
                </div>
                <div class="relative">
                    <input type="date" id="date_of_birth"
                        class="block px-2.5 pb-2.5 pt-4 text-sm text-black border border-gray-300  rounded-lg border-1 w-60 appearance-none focus:ring-0 focus:border-blue-900 peer bg-white"
                        placeholder=" " />
                    <label for="date_of_birth"
                        class="absolute text-sm bg-white text-black  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  px-2 peer-focus:px-2 peer-focus:text-blue-900 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Date
                        of Birth</label>
                </div>
                <div class="relative">
                    <input type="email" id="email"
                        class="block px-2.5 pb-2.5 pt-4 text-sm text-black border border-gray-300  rounded-lg border-1 w-60 appearance-none focus:ring-0 focus:border-blue-900 peer bg-white"
                        placeholder=" " />
                    <label for="email"
                        class="absolute text-sm bg-white text-black  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  px-2 peer-focus:px-2 peer-focus:text-blue-900 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Email</label>
                </div>
                <div class="relative">
                    <input type="password" id="password"
                        class="block px-2.5 pb-2.5 pt-4 text-sm text-black border border-gray-300  rounded-lg border-1 w-60 appearance-none focus:ring-0 focus:border-blue-900 peer bg-white"
                        placeholder=" " />
                    <label for="password"
                        class="absolute text-sm bg-white text-black  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  px-2 peer-focus:px-2 peer-focus:text-blue-900 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Password</label>
                </div>
                <div class="flex space-x-3">
                    <div>
                        <input id="male" class="peer/draft" type="radio" name="status" checked />
                        <label for="male" class="peer-checked/draft:text-sky-500">Male</label>
                    </div>
                    <div>

                        <input id="female" class="peer/published" type="radio" name="status" />
                        <label for="female" class="peer-checked/published:text-sky-500">Female</label>
                    </div>
                </div>

                <label for="message" class="block mb-2 text-sm font-medium text-gray-500">Type Your
                    Address</label>
                <textarea id="message" rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 "
                    placeholder="eg: No.1 Abc street, Dehiwala, Colombo"></textarea>

                <div class="relative">
                    <input type="text" id="Education_qualification"
                        class="block px-2.5 pb-2.5 pt-4 text-sm text-black border border-gray-300 rounded-lg border-1 w-60 appearance-none focus:ring-0 focus:border-blue-900 peer bg-white"
                        placeholder=" " />
                    <label for="Education_qualification"
                        class="absolute text-sm bg-white text-black  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  px-2 peer-focus:px-2 peer-focus:text-blue-900 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Educational
                        Qualification</label>
                </div>
                <div>
                    <label for="married_status"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select your Marital
                        status</label>
                    <select id="married_status"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected="">Choose a status</option>
                        <option value="Married">Married</option>
                        <option value="Widowed">Widowed</option>
                        <option value="Seperated">Seperated</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Single">Single</option>
                    </select>
                </div>

                <div>
                    <label for="married_status"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select your Job
                    </label>
                    <select id="married_status"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected="">Choose a job</option>
                        <option value="Software Engineer">Software Engineer</option>
                        <option value="Cloud Engineer">Cloud Engineer</option>
                    </select>
                </div>

                <div>
                    <label for="married_status"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select your Job Position
                    </label>
                    <select id="married_status"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected="">Choose the position</option>
                        <option value="Front End Developer">Front End Developer</option>
                        <option value="Back End Developer">Back End Developer</option>
                        <option value="Full Stack Developer">Full Stack Engineer</option>
                        <option value="Software test engineer">Software test engineer</option>
                        <option value="Javascript engineer">Javascript engineer</option>
                        <option value="Applications engineer">Applications engineer</option>
                    </select>
                </div>

            </form>
        </div>
    </div>
</div>